/design_pattern.iml
/target/classes/com/junjia/design/pattern/creational/prototype/abstractprototype/A.class
/target/classes/com/junjia/design/pattern/structural/decorator/v2/ABattercake.class
/target/classes/com/junjia/design/pattern/structural/bridge/ABCBank.class
/target/classes/com/junjia/design/pattern/structural/decorator/v2/AbstractDecorator.class
/target/classes/com/junjia/design/pattern/structural/adapter/AC220.class
/target/classes/com/junjia/design/pattern/structural/bridge/Account.class
/target/classes/com/junjia/design/pattern/behavioral/templatemethod/ACourse.class
/target/classes/com/junjia/design/pattern/structural/adapter/classadapter/Adaptee.class
/target/classes/com/junjia/design/pattern/structural/adapter/objectadapter/Adaptee.class
/target/classes/com/junjia/design/pattern/structural/adapter/classadapter/Adapter.class
/target/classes/com/junjia/design/pattern/structural/adapter/objectadapter/Adapter.class
/target/classes/com/junjia/design/pattern/behavioral/interpreter/AddInterpreter.class
/target/classes/com/junjia/design/pattern/behavioral/chainofresponsibility/Approver.class
/target/classes/com/junjia/design/pattern/behavioral/memento/Article.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/Article.class
/target/classes/com/junjia/design/pattern/behavioral/chainofresponsibility/ArticleApprover.class
/target/classes/com/junjia/design/pattern/behavioral/memento/ArticleMemento.class
/target/classes/com/junjia/design/pattern/behavioral/memento/ArticleMementoManager.class
/target/classes/com/junjia/design/pattern/creational/prototype/abstractprototype/B.class
/target/classes/com/junjia/design/pattern/structural/bridge/Bank.class
/target/classes/com/junjia/design/principle/liskovsubstitution/methodinput/Base.class
/target/classes/com/junjia/design/principle/liskovsubstitution/methodoutput/Base.class
/target/classes/com/junjia/design/pattern/structural/decorator/v1/Battercake.class
/target/classes/com/junjia/design/pattern/structural/decorator/v2/Battercake.class
/target/classes/com/junjia/design/pattern/structural/decorator/v1/BattercakeWithEgg.class
/target/classes/com/junjia/design/pattern/structural/decorator/v1/BattercakeWithEggSausage.class
/target/classes/com/junjia/design/principle/interfacesegregation/Bird.class
/target/classes/com/junjia/design/principle/singleresponsibility/Bird.class
/target/classes/com/junjia/design/principle/demeter/Boss.class
/target/classes/com/junjia/design/pattern/structural/composite/CatalogComponent.class
/target/classes/com/junjia/design/principle/liskovsubstitution/methodinput/Child.class
/target/classes/com/junjia/design/principle/liskovsubstitution/methodoutput/Child.class
/target/classes/com/junjia/design/pattern/behavioral/command/CloseCourseVideoCommand.class
/target/classes/com/junjia/design/pattern/creational/builder/Coach.class
/target/classes/com/junjia/design/pattern/behavioral/visitor/CodingCourse.class
/target/classes/com/junjia/design/pattern/behavioral/command/Command.class
/.idea/compiler.xml
/target/classes/com/junjia/design/pattern/structural/adapter/classadapter/ConcreteTarget.class
/target/classes/com/junjia/design/pattern/structural/adapter/objectadapter/ConcreteTarget.class
/target/classes/com/junjia/design/pattern/creational/singleton/ContainerSingleton.class
/target/classes/com/junjia/design/pattern/creational/builder/v2/Course$CourseBuilder.class
/target/classes/com/junjia/design/pattern/behavioral/chainofresponsibility/Course.class
/target/classes/com/junjia/design/pattern/behavioral/iterator/Course.class
/target/classes/com/junjia/design/pattern/behavioral/observer/Course.class
/target/classes/com/junjia/design/pattern/behavioral/visitor/Course.class
/target/classes/com/junjia/design/pattern/creational/builder/v2/Course.class
/target/classes/com/junjia/design/pattern/creational/builder/Course.class
/target/classes/com/junjia/design/pattern/structural/composite/Course.class
/target/classes/com/junjia/design/principle/demeter/Course.class
/target/classes/com/junjia/design/pattern/creational/builder/CourseActualBuilder.class
/target/classes/com/junjia/design/pattern/behavioral/iterator/CourseAggregate.class
/target/classes/com/junjia/design/pattern/behavioral/iterator/CourseAggregateImpl.class
/target/classes/com/junjia/design/pattern/creational/builder/CourseBuilder.class
/target/classes/com/junjia/design/pattern/structural/composite/CourseCatalog.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/CourseFactory.class
/target/classes/com/junjia/design/principle/singleresponsibility/CourseImpl.class
/target/classes/com/junjia/design/pattern/behavioral/iterator/CourseIterator.class
/target/classes/com/junjia/design/pattern/behavioral/iterator/CourseIteratorImpl.class
/target/classes/com/junjia/design/pattern/behavioral/command/CourseVideo.class
/target/classes/com/junjia/design/pattern/behavioral/state/CourseVideoContext.class
/target/classes/com/junjia/design/pattern/behavioral/state/CourseVideoState.class
/target/classes/com/junjia/design/pattern/structural/proxy/db/DataSourceContextHolder.class
/target/classes/com/junjia/design/principle/compositionaggregation/DBConnection.class
/target/classes/com/junjia/design/pattern/structural/adapter/DC5.class
/target/classes/com/junjia/design/pattern/structural/bridge/DepositAccount.class
/.idea/artifacts/design_pattern_war.xml
/.idea/artifacts/design_pattern_war_exploded.xml
/target/classes/com/junjia/design/pattern/behavioral/templatemethod/DesignPatternCourse.class
/target/classes/com/junjia/design/principle/interfacesegregation/Dog.class
/target/classes/com/junjia/design/pattern/structural/proxy/db/DynamicDataSource.class
/target/classes/com/junjia/design/pattern/structural/decorator/v2/EggDecorator.class
/target/classes/com/junjia/design/pattern/structural/flyweight/Employee.class
/target/classes/com/junjia/design/pattern/structural/flyweight/EmployeeFactory.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/EmptyPromotionStrategy.class
/.idea/encodings.xml
/target/classes/com/junjia/design/pattern/creational/singleton/EnumInstance$1.class
/target/classes/com/junjia/design/pattern/creational/singleton/EnumInstance.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/FanXianPromotionStrategy.class
/target/classes/com/junjia/design/pattern/behavioral/templatemethod/FECourse.class
/target/classes/com/junjia/design/principle/dependenceinversion/FECourse.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/FEVideo.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/FEVideoFactory.class
/target/classes/com/junjia/design/principle/singleresponsibility/FlyBird.class
/target/classes/com/junjia/design/pattern/behavioral/visitor/FreeCourse.class
/target/classes/com/junjia/design/pattern/structural/facade/GiftExchangeService.class
/target/classes/com/junjia/design/pattern/behavioral/observer/guavatest/GuavaEvent.class
/target/classes/com/junjia/design/pattern/behavioral/observer/guavatest/GuavaEventTest.class
/target/classes/com/junjia/design/pattern/creational/singleton/HungrySingleton.class
/target/classes/com/junjia/design/principle/interfacesegregation/IAnimalAction.class
/target/classes/com/junjia/design/pattern/structural/bridge/ICBCBank.class
/target/classes/com/junjia/design/principle/dependenceinversion/ICourse.class
/target/classes/com/junjia/design/principle/openclose/ICourse.class
/target/classes/com/junjia/design/principle/singleresponsibility/ICourse.class
/target/classes/com/junjia/design/principle/singleresponsibility/ICourseContent.class
/target/classes/com/junjia/design/principle/singleresponsibility/ICourseManager.class
/target/classes/com/junjia/design/principle/interfacesegregation/IEatAnimalAction.class
/target/classes/com/junjia/design/principle/interfacesegregation/IFlyAnimalAction.class
/target/classes/com/junjia/design/pattern/behavioral/interpreter/Interpreter.class
/target/classes/com/junjia/design/pattern/structural/proxy/IOrderDao.class
/target/classes/com/junjia/design/pattern/structural/proxy/IOrderService.class
/target/classes/com/junjia/design/principle/interfacesegregation/ISwimAnimalAction.class
/target/classes/com/junjia/design/pattern/behavioral/visitor/IVisitor.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/JavaArticle.class
/target/classes/com/junjia/design/principle/dependenceinversion/JavaCourse.class
/target/classes/com/junjia/design/principle/openclose/JavaCourse.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/JavaCourseFactory.class
/target/classes/com/junjia/design/principle/openclose/JavaDiscountCourse.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/JavaVideo.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/JavaVideo.class
/target/classes/com/junjia/design/pattern/creational/simplefactory/JavaVideo.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/JavaVideoFactory.class
/target/classes/com/junjia/design/principle/dependenceinversion/Junjia.class
/target/classes/com/junjia/design/pattern/behavioral/interpreter/JunjiaExpressionParser.class
/target/classes/com/junjia/design/pattern/creational/singleton/LazyDoubleCheckSingleton.class
/target/classes/com/junjia/design/pattern/creational/singleton/LazySingleton.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/LiJianPromotionStrategy.class
/target/classes/com/junjia/design/pattern/creational/prototype/Mail.class
/target/classes/com/junjia/design/pattern/creational/prototype/MailUtil.class
/target/classes/com/junjia/design/pattern/structural/flyweight/Manager.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/ManJianPromotionStrategy.class
/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_2.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_6_7.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_6_7.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_avro_2_9_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_6_7.xml
/.idea/libraries/Maven__com_github_jsqlparser_jsqlparser_0_9_4.xml
/.idea/libraries/Maven__com_github_miemiedev_mybatis_paginator_1_2_17.xml
/.idea/libraries/Maven__com_github_pagehelper_pagehelper_4_1_0.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_3_1.xml
/.idea/libraries/Maven__com_google_guava_guava_20_0.xml
/.idea/libraries/Maven__com_google_zxing_core_2_1.xml
/.idea/libraries/Maven__com_sun_faces_jsf_api_1_2.xml
/.idea/libraries/Maven__com_thoughtworks_paranamer_paranamer_2_7.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
/.idea/libraries/Maven__commons_configuration_commons_configuration_1_10.xml
/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_2_2.xml
/.idea/libraries/Maven__commons_io_commons_io_2_0_1.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__commons_net_commons_net_3_1.xml
/.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
/.idea/libraries/Maven__io_netty_netty_buffer_4_1_8_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_4_1_8_Final.xml
/.idea/libraries/Maven__io_netty_netty_common_4_1_8_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_4_1_8_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_4_1_8_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_4_1_8_Final.xml
/.idea/libraries/Maven__io_projectreactor_reactor_core_2_0_8_RELEASE.xml
/.idea/libraries/Maven__io_projectreactor_reactor_stream_2_0_8_RELEASE.xml
/.idea/libraries/Maven__javax_cache_cache_api_1_0_0.xml
/.idea/libraries/Maven__joda_time_joda_time_2_3.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_6.xml
/.idea/libraries/Maven__org_apache_avro_avro_1_8_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_8_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
/.idea/libraries/Maven__org_apache_commons_commons_pool2_2_0.xml
/.idea/libraries/Maven__org_apache_tomcat_tomcat_servlet_api_7_0_64.xml
/.idea/libraries/Maven__org_aspectj_aspectjrt_1_6_11.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_7_3.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_12.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_12.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_hashids_hashids_1_0_1.xml
/.idea/libraries/Maven__org_mybatis_mybatis_3_4_1.xml
/.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_0.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_16_18.xml
/.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_0.xml
/.idea/libraries/Maven__org_redisson_redisson_2_9_0.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_6.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_12_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_keyvalue_1_1_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_redis_1_7_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_session_spring_session_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_session_spring_session_data_redis_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_support_4_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_oxm_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_4_0_3_RELEASE.xml
/.idea/libraries/Maven__org_tukaani_xz_1_5.xml
/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_1_1_3.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_15.xml
/.idea/libraries/Maven__redis_clients_jedis_2_6_0.xml
/target/classes/com/junjia/design/principle/singleresponsibility/Method.class
/.idea/modules.xml
/target/classes/com/junjia/design/pattern/behavioral/interpreter/MultiInterpreter.class
/target/classes/com/junjia/design/principle/compositionaggregation/MySQLConnection.class
/target/classes/com/junjia/design/pattern/behavioral/interpreter/NumberInterpreter.class
/target/classes/com/junjia/design/pattern/behavioral/command/OpenCourseVideoCommand.class
/target/classes/com/junjia/design/pattern/behavioral/interpreter/OperatorUtil.class
/target/classes/com/junjia/design/pattern/structural/proxy/Order.class
/target/classes/com/junjia/design/pattern/structural/proxy/OrderDaoImpl.class
/target/classes/com/junjia/design/pattern/structural/proxy/dynamicproxy/OrderServiceDynamicProxy.class
/target/classes/com/junjia/design/pattern/structural/proxy/OrderServiceImpl.class
/target/classes/com/junjia/design/pattern/structural/proxy/staticproxy/OrderServiceStaticProxy.class
/target/classes/com/junjia/design/pattern/behavioral/state/PauseState.class
/target/classes/com/junjia/design/pattern/creational/prototype/clone/Pig.class
/target/classes/com/junjia/design/pattern/behavioral/state/PlayState.class
/target/classes/com/junjia/design/pattern/structural/facade/PointsGift.class
/target/classes/com/junjia/design/pattern/structural/facade/PointsPaymentService.class
/target/classes/com/junjia/design/principle/compositionaggregation/PostgreSQLConnection.class
/target/classes/com/junjia/design/pattern/structural/adapter/PowerAdapter.class
/target/classes/com/junjia/design/principle/compositionaggregation/ProductDao.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/PromotionActivity.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/PromotionStrategy.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/PromotionStrategyFactory$PromotionKey.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/PromotionStrategyFactory.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/PythonArticle.class
/target/classes/com/junjia/design/principle/dependenceinversion/PythonCourse.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/PythonCourseFactory.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/PythonVideo.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/PythonVideo.class
/target/classes/com/junjia/design/pattern/creational/simplefactory/PythonVideo.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/PythonVideoFactory.class
/target/classes/com/junjia/design/principle/liskovsubstitution/Quadrangle.class
/target/classes/com/junjia/design/pattern/structural/facade/QualifyService.class
/target/classes/com/junjia/design/pattern/behavioral/observer/Question.class
/target/classes/com/junjia/design/principle/liskovsubstitution/Rectangle.class
/target/classes/com/junjia/design/pattern/structural/decorator/v2/SausageDecorator.class
/target/classes/com/junjia/design/pattern/structural/bridge/SavingAccount.class
/target/classes/com/junjia/design/pattern/structural/facade/ShippingService.class
/target/classes/com/junjia/design/pattern/behavioral/state/SpeedState.class
/target/classes/com/junjia/design/pattern/behavioral/interpreter/SpringTest.class
/target/classes/com/junjia/design/principle/liskovsubstitution/Square.class
/target/classes/com/junjia/design/pattern/behavioral/command/Staff.class
/target/classes/com/junjia/design/pattern/creational/singleton/StaticInnerClassSingleton$1.class
/target/classes/com/junjia/design/pattern/creational/singleton/StaticInnerClassSingleton$InnerClass.class
/target/classes/com/junjia/design/pattern/creational/singleton/StaticInnerClassSingleton.class
/target/classes/com/junjia/design/pattern/behavioral/state/StopState.class
/target/classes/com/junjia/design/pattern/behavioral/mediator/StudyGroup.class
/target/classes/com/junjia/design/pattern/creational/singleton/T.class
/target/classes/com/junjia/design/pattern/structural/adapter/classadapter/Target.class
/target/classes/com/junjia/design/pattern/structural/adapter/objectadapter/Target.class
/target/classes/com/junjia/design/pattern/behavioral/observer/Teacher.class
/target/classes/com/junjia/design/principle/demeter/TeamLeader.class
/target/classes/com/junjia/design/pattern/behavioral/chainofresponsibility/Test.class
/target/classes/com/junjia/design/pattern/behavioral/command/Test.class
/target/classes/com/junjia/design/pattern/behavioral/interpreter/Test.class
/target/classes/com/junjia/design/pattern/behavioral/iterator/Test.class
/target/classes/com/junjia/design/pattern/behavioral/mediator/Test.class
/target/classes/com/junjia/design/pattern/behavioral/memento/Test.class
/target/classes/com/junjia/design/pattern/behavioral/observer/Test.class
/target/classes/com/junjia/design/pattern/behavioral/state/Test.class
/target/classes/com/junjia/design/pattern/behavioral/strategy/Test.class
/target/classes/com/junjia/design/pattern/behavioral/templatemethod/Test.class
/target/classes/com/junjia/design/pattern/behavioral/visitor/Test.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/Test.class
/target/classes/com/junjia/design/pattern/creational/builder/v2/Test.class
/target/classes/com/junjia/design/pattern/creational/builder/Test.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/Test.class
/target/classes/com/junjia/design/pattern/creational/prototype/clone/Test.class
/target/classes/com/junjia/design/pattern/creational/prototype/Test.class
/target/classes/com/junjia/design/pattern/creational/simplefactory/Test.class
/target/classes/com/junjia/design/pattern/creational/singleton/Test.class
/target/classes/com/junjia/design/pattern/structural/adapter/classadapter/Test.class
/target/classes/com/junjia/design/pattern/structural/adapter/objectadapter/Test.class
/target/classes/com/junjia/design/pattern/structural/adapter/Test.class
/target/classes/com/junjia/design/pattern/structural/bridge/Test.class
/target/classes/com/junjia/design/pattern/structural/composite/Test.class
/target/classes/com/junjia/design/pattern/structural/decorator/v1/Test.class
/target/classes/com/junjia/design/pattern/structural/decorator/v2/Test.class
/target/classes/com/junjia/design/pattern/structural/facade/Test.class
/target/classes/com/junjia/design/pattern/structural/flyweight/Test.class
/target/classes/com/junjia/design/pattern/structural/proxy/dynamicproxy/Test.class
/target/classes/com/junjia/design/pattern/structural/proxy/staticproxy/Test.class
/target/classes/com/junjia/design/principle/compositionaggregation/Test.class
/target/classes/com/junjia/design/principle/demeter/Test.class
/target/classes/com/junjia/design/principle/dependenceinversion/Test.class
/target/classes/com/junjia/design/principle/liskovsubstitution/methodinput/Test.class
/target/classes/com/junjia/design/principle/liskovsubstitution/methodoutput/Test.class
/target/classes/com/junjia/design/principle/liskovsubstitution/Test.class
/target/classes/com/junjia/design/principle/openclose/Test.class
/target/classes/com/junjia/design/principle/singleresponsibility/Test.class
/target/classes/com/junjia/design/pattern/creational/singleton/ThreadLocalInstance$1.class
/target/classes/com/junjia/design/pattern/creational/singleton/ThreadLocalInstance.class
/target/classes/com/junjia/design/pattern/behavioral/mediator/User.class
/target/classes/com/junjia/design/pattern/creational/abstractfactory/Video.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/Video.class
/target/classes/com/junjia/design/pattern/creational/simplefactory/Video.class
/target/classes/com/junjia/design/pattern/behavioral/chainofresponsibility/VideoApprover.class
/target/classes/com/junjia/design/pattern/creational/factorymethod/VideoFactory.class
/target/classes/com/junjia/design/pattern/creational/simplefactory/VideoFactory.class
/target/classes/com/junjia/design/pattern/behavioral/visitor/Visitor.class
/target/classes/com/junjia/design/principle/singleresponsibility/WalkBird.class
